.row {
  clear: both;
}

.country {
  float: left;
  width: 250px;
}

.country form {
  float: left;
}

.country .country-input {
  width: 100px;
}

.average {
  float: left;
  width: 250px;
}

.horiz-bar {
  float: left;
  display: inline-block;
  background-color: blue;
  border-style: solid;
  border-color: black;
}

#src-test {
  margin-top: 2rem;
}

/* Responsiveness */
@media (min-width: 900px) {
  .country .average .horiz-bar {
    width: 250px;
  }
}
@media (min-width: 600px) {
  .country .average .horiz-bar {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}
